footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 18px;
    display: none;
  }
/* Remover botão de limpar em todos os inputs */
input::-webkit-clear-button {
  display: none;
}
#outrosProjetos{
  display: none;
}
