.gsc-input-box {
  border: none;
  background-color: #ed111100;
  padding: 8px;
  font-size: 14px;
  border-radius: 20px;
}

tbody {
  display: flex !important;
  margin: auto auto;
  max-width: 440px;
  flex-direction: column;
}

.gsc-search-button {
  width: min-content;
  height: 45px;
}

.gsc-result-info {
  font-size: 12px;
  color: #888;
  background-color: #fff;
}

.gsc-result-title {
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.gsc-result-snippet {
  font-size: 14px;
  color: #555;
}

.gsc-more-results-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.gsc-more-results-link:hover {
  text-decoration: underline;
}

.gsc-control-cse {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

#google {
  display: flex;
  margin: 150px auto 10px auto;
}