.thumbnail-section {
    padding-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .thumbnail {
    width: 100px;
    height: 70px;
    margin: 0 10px;
    border-radius: 10%;
    cursor: pointer;
  }
  .thumbnail:hover{
    transition: 50ms;
    border: 2px solid white;
  }
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
